{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "importOrder": ["^@/(.+)$", "^[./]"],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
